li {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.41px;
  text-align: left;
  text-decoration-skip-ink: none;
}

header {
  background-color: #000;
  max-width: 1200px;
  margin: 0 auto;
}

.nav ul {
  display: flex;
  column-gap: 16px;
}

.logo {
  display: flex;
  align-items: center;
}
